@import "tailwindcss";

@keyframes slide {
    0% {
        transform: translateX(100%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.animate-slide {
    display: flex;
    gap: 30px;
    animation: slide 60s linear infinite; 
}